.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .logo {
    color: #4b8aff;
    font-size: 25px;
    font-weight: 700;
  }
  .search {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      transform: scale(1.5);
    }
  }
}
